<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"></meta>
    <title>平台数据管理</title>
    <link rel="stylesheet" th:href="@{/library/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/style/admin.css}"/>
    <link rel="stylesheet" th:href="@{/style/common.css}"/>
    <link rel="stylesheet" th:href="@{/login/css/login.css}"/>
</head>

<body class="layui-layout-body">

<div>
    <div class="layui-layout layui-layout-admin">
        <!-- 头部区域 -->
        <div th:include="/layout/header :: Header"></div>
        <!-- 菜单区域 -->
        <div th:include="/layout/menu :: Menu"></div>

        <!-- 页面标签 -->
        <div th:include="/layout/pagetab :: PageTab"></div>

        <!--&lt;!&ndash; 主体内容 &ndash;&gt;-->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="home/homeIndex.html" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 页面标签 -->
        <div th:replace="/layout/pagetab :: PageTab"></div>
        <!-- 下方区域 -->
        <div th:replace="/layout/footer :: Footer"></div>
    </div>

<script type="text/javascript" th:src="@{/js/utils.js}"></script>
<script type="text/javascript" th:src="@{/library/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/init/initEntry.js}"></script>
<script type="text/javascript" th:src="@{/js/sys/index.js}"></script>
</body>

</html>